streamlit == 1.39.0
pandas == 2.2.3
numpy == 2.1.1

# Geospatial processing
geopandas == 1.0.1
rasterio == 1.4.3
shapely == 2.1.1
pyproj == 3.6.1
fiona == 1.9.6

# Visualization
matplotlib == 3.9.2
folium == 0.19.4
streamlit-folium == 0.20.0
